* {
    background-color: rgb(247, 216, 177);
}
.body-full {
    background-color:antiquewhite;
}
.page_head {
    background: blueviolet;
}
.bg-nav {
    background:  blueviolet;
}
.home {
    margin-top: 100px;
    font-size: 60px;
    font-family: "Sofia", sans-serif;
    color: crimson;
    text-align: center;
  }
  
h2{
    color:goldenrod;
    text-align:right;
}